/*Colors*/
$white: #FFF;
$black: #000;
$black_light: #333;
$gray: #eaeaea;

/*Color app*/
$color-1: $white;
$color-2: $black;
$color-3: $black_light;
$color-4: $gray;

/*Colors font*/
$font-color-1: $color-1;
$font-color-2: $color-2;
$font-color-3: $color-3;

/*Color Background*/
