/*Fonts & Text Sizes*/
@import url(https://fonts.googleapis.com/css?family=Montserrat|Roboto:400,100,300,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic);

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-size-xxlarge: 70px;
$font-size-xlarge: 55px;
$font-size-large: 27px;
$font-size-medium: 19px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
$font-size-xxsmall: 10px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;
